* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
}
.mainContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: #050b11;
}
.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  min-width: 280px;
  background-image: linear-gradient(to right, #0f202c, #04101d);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 17px 11px 12px rgba(0, 0, 0, 0.67);
}

.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.scoreTxtContainer {
  display: flex;
}
#score, #highScore {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 0 25px;
}
#scoreTxt, #highScoreTxt {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#scoreTxt {
  right: 5%;
}
#highScoreTxt {
  left: 14%;
}

.incorrect_red_shake {
  animation: incorrectRedShake 1s;
}
.correct_green_glow {
  animation: correctGreenGlow 1s;
}

#word {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 15px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}
.btnChoice {
  transition: all 300ms;
  padding: 6px;
  margin: 20px;
  background-color: #cbcbcb;
  border-radius: 4px;
  font-weight: 600;
  font-family: 'Kumbh Sans', sans-serif;
  border: none;
}
.btnChoice:hover {
  color: #fff;
  transition: all 300ms;
  background-color: #626262;
}

.indicator_icon_clickArea {
  position: relative;
  cursor: pointer;
}

.info_box {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 280px;
  font-size: 18px;
  background-color: #74747456;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.info_box p {
  color: #fff;
  padding: 20px;
}
.indicator_icon_clickArea:hover .info_box {
  top: 191%;
  visibility: visible;
  opacity: 1;
}
.indicator_icon {
  transition: all 150ms ease-in;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 23px;
  height: 23px;
  background-image: url(memoryGameImgs/info.svg);
  background-size: contain;
}
.indicator_icon_correct {
  transition: all 150ms ease-in;
  background-image: url(memoryGameImgs/check-o.svg);
}

.indicator_icon_incorrect {
  transition: all 150ms ease-in;
  background-image: url(memoryGameImgs/x-circle-svgrepo-com.svg);
}

/*animation*/
@keyframes incorrectRedShake {
  from {
    transform: translateX(-4%);
    color: #df1212;
  }
  10% {
    transform: translateX(4%);
    color: #d03434;
  }
  20% {
    transform: translateX(-3%);
    color: #b34141;
  }
  30% {
    transform: translateX(3%);
    color: #b75555;
  }
  40% {
    transform: translateX(-2%);
    color: #b96363;
  }
  50% {
    transform: translateX(2%);
    color: #be7474;
  }
  60% {
    transform: translateX(-1%);
    color: #c08585;
  }
  70% {
    transform: translateX(1%);
    color: #c79999;
  }
  80% {
    transform: translateX(-1%);
    color: #cfa9a9;
  }
  90% {
    transform: translateX(1%);
    color: #dbb8b8;
  }
  to {
    transform: translateX(0%);
    color: #e7cece;
  }
}

@keyframes correctGreenGlow {
  from {
    color: #c1dbbc;
  }
  25% {
    color: #6ca35f;
  }
  50% {
    color: #8db883;
  }
  75% {
    color: #d0dfcd;
  }
  to {
    color: #ecf4ea;
  }
}
